* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
  }
  img:hover, .full-name:hover, .user-name:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  
  /* Main Containers */
  .main-flex-container {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .left-flex-container {
    flex: 1 0 22%;
    height: 100%;
    position: sticky;
    top: 0;
    background:#fff; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(230, 236, 240);
  }
  .center-flex-container {
   flex: 3 0 45%;
   background:#fff;
  }
  .right-flex-container {
    flex: 2 0 31%;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    background:#fff;
    border-left: 1px solid rgb(230, 236, 240);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  /* Left Navigation */
  .logo i{
    color: #1da1f2;
    font-size: 2rem;
    padding: 1rem;
  }

  .logo i:hover {
    border-radius: 50%;
    background-color: black;
  }  
  .nav-links a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 750;
    color: rgba(20, 23, 26, 0.93);
    padding: 10px 15px;
  }
    
  .current-page a { color: rgba(29,161,242,1.00);}
  
  .nav-links a:hover {
    background: rgba(29, 161, 242, 0.1);
    color: #1da1f2;
    padding: 10px 15px;
    border-radius: 25px;
  }
  
  .nav-items {
    white-space: nowrap;
  }
  .nav-links i {
    padding-right: 0.5rem;
  }
  .nav-links {
    margin-top: 1rem;
  }
  
  .tweet a {
    display: block;
    margin: auto;
    width: 100%;
    color: #fff;
    background: #1da1f2;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 5rem;
    border-radius: 25px;
  }
  
  .tweet a:hover {
    color: #fff;
    background: #198ed6;
  }
  
  .profile-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    align-self: center;
    padding: 0 0.6rem;
  }
  .profile-box:hover {
    background: rgba(29, 161, 242, 0.1);
    border-radius: 25px;
    cursor: pointer;
  }
  
  .profile-box img {
    display: block;
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 100%;
    margin-right: 0.5rem;
  }
  
  .profile-box .full-name {
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .profile-box .options-icon {
    color: #39393a;
    margin-left: 1rem;
  }
  
  .user-name {
    color: #39393a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
  }
  
  /* Main Container */
  .home {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid rgb(230, 236, 240);
    color: #39393a;
    padding: 0.5rem 1rem;
  }

  /* Perfil header */
  .profile-header{
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .profile-header h1{
    font-size: 1.25rem;
    padding-bottom: 0rem;
  }

  .profile-header p{
    font-size: 0.75rem;
    padding-top: 0rem;
  }

  .profile-header .back{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .profile-header .back a{
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    color: rgba(20, 23, 26, 0.93);
    padding: 0rem 0.5rem;
  }

  .profile-header .back a:hover{
    background: rgba(67, 72, 76, 0.1);
    color: black;
    border-radius: 5rem;
  }

  .profile-header .back .profile-name{
    height: 46px;
    padding-left: 2rem;
  }

  /* Info perfil */

  .banner{
    position: relative;
    width: 100%;
    height: 199.328px;
  }

  .banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .profile-image{
    position: absolute;
    bottom: -4rem;
    left: 1rem;
    width: 133.500px;
    height: 133.500px;
    border-radius: 5rem;
    background: url(./img/profile.jpg);
    background-size: 100%;
    border: 0.3rem solid white;
  }

  .profile-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .profile-options{
    display: flex;
    justify-content: right;
    gap: 0.8rem;
    padding-right: 1rem;
  }

  .profile-options a{
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    color: black;
    border-radius: 10rem;
    border: 0.1rem rgba(0, 0, 0, 0.1) solid;
    
  }

  .profile-options .follow-btn{
    justify-content: center;
    background: black;
    color: white;
    width: 6.5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 15px;
    font-weight: 700;
  }

  .profile-options .following{
    justify-content: center;
    background: white;
    color: black;
    width: 6.5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 15px;
    font-weight: 700;
  }

  .profile-options a:hover{
    background: rgba(67, 72, 76, 0.1);
    color: black;
  }

  .profile-options .follow-btn:hover{
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .profile-options .following:hover {
    font-size: 0;
    background: rgba(255, 0, 0, 0.1);
    border: 0.1rem rgba(255, 0, 0, 0.4) solid;
    color: rgba(255, 0, 0, 0.8);
  }

  .profile-options .following:hover:before {
    font-size: 1rem;
    content: attr(data-hover);
  }

  /* Info biografía */
  .bio-name{
    padding-left: 1rem;
    padding-top: 5rem;
    
  }

  .bio-name h1{
    font-size: 1.25rem;
    font-weight: 800;
  }

  .bio-name p{
    font-size: 1rem;
  }

  .bio-info{
    padding-top: 1rem;
  }

  .bio-more-info{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .bio-more-info .bio-icons{
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: baseline;
    color: gray;
    font-size: 1rem;
  }

  .bio-more-info p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    color: gray;
  }

  .bio-more-info a{
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  .bio-name .followers{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 1rem;
    color: black;
  }

  .bio-name .followed{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    height: 1rem;
    width: auto;
  }

  .followed a{
    height: 1rem;
    width: auto;
    background-size: 100%;
    border-radius: 0.1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .followed img{
    height: 1.125rem;
    width: 1.125;
    object-fit: contain;
  }

  .profile-links{
    border-bottom: 1px solid rgb(230, 236, 240);
  }

  .profile-links th{
    height: 3.3rem;
    width: 7.5rem;
    font-weight: 750;
    font-size: 1rem;
  }

  .profile-links th:hover{
    background: rgba(0, 0, 0, 0.1);
  }

  .profile-section a{
    color: black;
  }

  .current-section a{
    text-decoration-line: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: #1da1f2;
  }


  /* home panel */
  .home h1 {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .home i {
    font-size: 1.4rem;
    color: rgba(29,161,242,1.00);
    background: #fff;
    padding: 0.5rem;
    border-radius: 50%
  }
  .home i:hover {
    background: rgba(29, 161, 242, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Create tweet box */
  .post-tweet {
    background: #fff;
    border-bottom: 1px solid rgb(230, 236, 240);
  }
  .group-1 {
    display: flex;
    flex-flow: row;
    padding: 0.3rem 1rem;
  }
  
  .post-tweet img {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
  }

  .post-tweet img:hover {
  background-color: rgba(0,0,0,0.8);
    width: 50px;
    height: 50px;
  }

  .post-tweet input {
    width: 90%;
    height: 60px;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .post-tweet input::placeholder {
    color: rgba(123, 124, 126, 0.719);
  }
  .post-tweet input:focus {
    outline: none;
  }
  .group-2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8rem;
  }
  
  .post-icons {
    padding-left: 4.5rem;
    color: #1da0f2c2;
    display: flex;
    align-items: center;
    font-size: 0.2rem;
  }
  .post-icons span {
    padding: 0.5rem 0.6rem;
    border-radius: 25px;
    margin-right: 0rem;
    display: flex;
    align-items: center;

  }


  .post-icons span:hover {
    padding: 0.5rem 0.6rem;
    background: #8ed0f937;
    border-radius: 25px;
    margin-right: 0rem;
    cursor: pointer;
  }

  .group-2 .btn {
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    background: #8ed0f9;
    color: #fff;
    border-radius: 25px;
    margin-right: 1rem;
  }
  .group-2 .btn:hover {
    background: #1da1f2;
    cursor: pointer;
    
  }
  
  .btn:focus {
    outline: none;
  }
  
  /* User Content */
  .tweets img {
    display: block;
    width: 100%;
  }


  .tweets .user-pics img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0.5rem 1rem;
  }
  .tweets {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    cursor: pointer;
  }
  .tweets:hover {
    background: rgb(245, 248, 250);
  }
  .full-name:hover {
    text-decoration: underline;
  }
  .user-content img {
    border-radius: 20px;
  }
  .user-content {
    font-family: "Roboto";
    padding-right: 1rem;
    color: rgb(48, 52, 56);
    font-weight: 400;
    line-height: 1.5;
  }
  .user-content .a-link{
    color: black;
  }
  .user-content .a-link:hover{
    text-decoration: none;
  }
  .user-content a {
    color: rgb(27, 149, 224);
  }
  
  .user-content-box {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(20, 23, 26);
  }
  
  .user-content-box .user-names {
    display: flex;
    flex-flow: row nowrap;
  }
  .user-names .full-name {
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(20, 23, 26);
  }
  .user-names .user-name {
    padding-right: 10px;
    font-size: 1.05rem;
    font-weight: 400;
    color: rgb(101, 119, 134);
  }
  .time {
    color: rgb(101, 119, 134);
  }
  .user-names i {
    padding-top: 0.6rem;
    margin-left: 50%;
    color: rgb(101, 119, 134);
  
  }
  /*-------*/
  .content-icons { 
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 0.7rem 0rem 0.7rem 0rem;
  }
    
  .content-icons div{
    display: flex;
    align-content: center;
    color: rgb(101, 119, 134);
    font-size: .9rem;
    cursor: pointer;
    margin-right: 20px;
    
    padding: 0rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .content-icons span {
    padding: 0.5rem 0.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .content-icons span:hover {
    padding: 0.5rem 0.6rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #8ed0f937;
  }

  .content-icons .blue:hover {
    color: rgba(29, 161,242,1.00);
  }
  .content-icons .green:hover {
    color: rgb(23 191 99);
  }
  .content-icons .red:hover {
    color: rgb(224, 36, 94);
  }
  
  /*-------*/
  
  /* Right Navbar */
  .search-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #39393a8e;
    border: none;
    border-radius: 25px;
    padding: 0.1rem 0.5rem;
    background: rgb(230, 236, 240);
    margin-top: 0.5rem;
    white-space: nowrap;
  }
  .search-box i {
    color: rgb(101, 119, 134);
    font-size: 0.9rem;
  }
  .search-box input {
    padding: 0.8rem 8rem 0.8rem 0.2rem;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    background: rgb(230, 236, 240);
  }
  
  /* Trending -i Items */
  .nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
  }
  .nav-list:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
  .nav-list a {
      color: rgb(27, 149, 224);
  }
  .nav-list:last-child {
    font-size: 1rem;
    border-bottom: none;
  }
  .trend-list {
    display: flex;
    flex-flow: column nowrap;
    
  }
  
  .trends {
    background: rgb(245, 248, 250);
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    border-radius: 15px;
    margin-top: 1rem;
  }
  .trends .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
  }
  
  .header h2 {
    font-size: 1.2rem;
    font-weight: 800;
  }
  
  .header i {
    color: rgba(29,161,242,1.00);
    background: rgb(245, 248, 250);
    padding: 0.5rem;
    border-radius: 50%
  }
  .header i:hover {
    background: rgba(29, 161, 242, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .main-text {
    font-size: 15px;
    font-weight: bold;
    color: rgb(20, 23, 26);
  }
  
  .sub-text {
    font-size: 13px;
    color: rgb(101, 119, 134);
  }
  
  .nav-list .trend-icon {
    font-size: 13px;
    color:  rgb(101, 119, 134);
  }
  
  .right-footer {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
  .footer-links i {
      padding: 0.4rem;
      border-radius: 50%;
  }
  .footer-links i:hover {
      background: rgb(245, 248, 250);
      padding: 0.4rem;
      border-radius: 50%;
      cursor: pointer;
  }
  
  .footer-copyright {
    align-self: flex-start;
  }
  
  .follow-users-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    line-height: 1.5rem;
  }
  
  .related-followers .sub-text {
    font-size: 14px;
    padding-left: 2.1rem;
  }
  .related-followers i {
    font-size: 0.7rem;
    padding-right: 8px;
  }
  .follow-header .main-text {
    font-size: 19px;
    font-weight: 800;
  }
  .full-name h1:hover {
    text-decoration: underline;
  }
  .user-name .sub-text {
    font-size: 17px;
    color: rgb(101, 119, 134);
  }
  .follow-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    border-top: 0px solid rgb(230, 236, 240);
  }
  
  .follow-header i {
    font-size: 13px;
    align-self: center;
    cursor: pointer;
  }
  .user-profile img {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center; 
  }
  
  .follow-user {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
  }
  .follow-user:hover {
    background: rgb(245, 248, 250);
  }
  .user-profile {
    display: flex;
    flex-flow: row nowrap;
  }
  .user-profile-content {
    width: 100%;
    padding-bottom: 0.3rem;
  }
  .title-container {
    display: flex;
    justify-content: space-between;
  }
  .bio-container{
    font-family: "Roboto";
  }
  .bio-container a{
    color:rgb(29,161,242);
  }
  .bio-container a:hover, .user-content a:hover {
    text-decoration: underline;
  }
  
  .follow-btn a{
    font-weight: bold;
    color: white;
    background: black;
    padding: 0.3rem 1.1rem;
    border-radius: 25px;
  }
  
  .follow-btn a:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .follow-footer {
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid rgb(230, 236, 240);
  }
  .follow-footer a {
    color: rgb(29,161,242);
    font-size: 15px;
    font-weight: 400;
  }
  .follow-footer:hover {
    background: rgba(0, 0, 0, 0.03);
  }
  
  .pagnation {
    margin: 1rem 0;
    text-align: center;
  }
  .pagnation a {
    color: #fff;
    background: #1da1f2;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
  }
  .pagnation a:hover {
    background: #198ed6;
  }

  /* Who to follow list right bar */
  .follow-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .follow-list img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .follow-list .follow-info{
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
  }

  .follow-list a{
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    color: black;
    border-radius: 10rem;
    border: 0.1rem rgba(0, 0, 0, 0.1) solid;
  }

  .follow-list .follow-btn{
    justify-content: center;
    background: black;
    color: white;
    width: 6.5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 15px;
    font-weight: 700;
  }

  .follow-list .following{
    justify-content: center;
    background: white;
    color: black;
    width: 6.5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 15px;
    font-weight: 700;
  }

  .follow-list a:hover{
    background: rgba(67, 72, 76, 0.1);
    color: black;
  }

  .follow-list .follow-btn:hover{
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .follow-list .following:hover {
    font-size: 0;
    background: rgba(255, 0, 0, 0.1);
    border: 0.1rem rgba(255, 0, 0, 0.4) solid;
    color: rgba(255, 0, 0, 0.8);
  }

  .follow-list .following:hover:before {
    font-size: 1rem;
    content: attr(data-hover);
  }