body{
    background-color: #1da1f2;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    width: 550px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0 10px rgb(110, 110, 110,.2);
    display: flex;
    flex-direction: column;
    justify-content:center;   
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.box-one{
    position: relative;
    width: 500px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

h3 {
    display: block; 
    font-size: 1.17em;
    margin-block-start: -0.5em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.box-two{
    position: relative;
    width: 500px;
    height: 80px;
    flex-direction: column;
    justify-content: flex-start;   
}

.box-three{
    position: relative;
    width: 500px;
    height: 200px;
   
    background-color: rgb(255, 255, 255);
    align-items: center;

}

.box-four{
    position: relative;
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: row;
}

input[type="text" i] {
    width: 450px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    border: 1px solid #00acee;
    border-radius: 10px;
}

.box-four p a{
    color: #00acee;
}